@model OgrenciNotMVC.Models.EntityFramework.TblNotlar
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Updatee", "Points", FormMethod.Post))

{
   
    <div class="form-group">

        @Html.LabelFor(m => m.Sınav1)
        @Html.TextBoxFor(m => m.Sınav1, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Sınav2)
        @Html.TextBoxFor(m => m.Sınav2, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Sınav3)
        @Html.TextBoxFor(m => m.Sınav3, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Proje)
        @Html.TextBoxFor(m => m.Proje, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.NotId)
    <div>

        <button class="btn btn-info">Update</button>
    </div>
}