@model OgrenciNotMVC.Models.EntityFramework.TblOgrenciler
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Updatee", "Students", FormMethod.Post))

{
    <div class="form-group">

        @Html.LabelFor(m => m.OgrAd)
        @Html.TextBoxFor(m => m.OgrAd, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.OgrSoyad)
        @Html.TextBoxFor(m => m.OgrSoyad, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.OgrCinsiyet)
        @Html.TextBoxFor(m => m.OgrCinsiyet, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.OgrKulup)
        @Html.TextBoxFor(m => m.OgrKulup, new { @class = "form-control" })
    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.OgrFoto)
        @Html.TextBoxFor(m => m.OgrFoto, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.OgrId)
    <div>
        <button class="btn btn-info">Update</button>
    </div>
}

